services:
  db:
    image: postgres:16
    container_name: cicd_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    image: 374604322207.dkr.ecr.eu-north-1.amazonaws.com/cicd-monorepo/backend:latest
    container_name: cicd_backend
    environment:
      PORT: 4000
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: appdb
      CORS_ORIGIN: "*"
    ports:
      - "4000:4000"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    image: 374604322207.dkr.ecr.eu-north-1.amazonaws.com/cicd-monorepo/frontend:latest
    container_name: cicd_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  pgdata:
